#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with apache2

override_dh_auto_install:
	install .libs/mod_auth_pgsql.so debian/libapache2-mod-auth-pgsql/usr/lib/apache2/modules
